#nav_mini {
    width: 1150px;
    height: 31px;
    display: flex;
    min-width: 1150px;
    margin: 0px auto;
}

#nav_mini .nav_text{
    display: flex;
    margin: auto 0px;
    gap:10px;
}

#nav_mini .nav_text a{
    text-decoration: none;
    color: black;
    font-size: small;
    height: fit-content;

}

#nav_mini .nav_text .fa-chevron-right{
    font-size: 8px;
    text-decoration: none;
    color: black;
    font-size: small;
    height: fit-content;
    margin: auto 0px;
}

#nav_mini .nav_text .fa-house{
    color: #F29F41;
}